body {
    margin:0;
    padding: 0;
    background: rgb(2, 2, 46);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: sans serif;
    color:rgb(213, 115, 35);
    margin: 4%;

}
